
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #8c54ff;
  --secondary: #da5f6f;
  --tertiary: #B12704;
  --light: #ffffff;
  --dark: rgba(128, 128, 128, 0.64);
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --gainsboro: #cfdbd5ff;
  --alabaster: #e8eddfff;
  --maize-crayola: #f5cb5cff;
  --eerie-black: #242423ff;
  --jet: #333533ff;

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--jet);
  color: var(--light);
  font-family: 'Vollkorn', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Vollkorn', serif;
  font-weight: 200;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 2.0rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--maize-crayola);
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--dark);
  position: sticky;
}

header a {
  color: var(--maize-crayola);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}


li {
  list-style: none;
}

nav {
  float: right;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
}

.flex-row {
  display: flex;
  /* justify-content: end; */
  /* flex-wrap: wrap; */
  
}

.links {
  font-family: var();
  justify-content: end;
  justify-content: space-evenly;
  padding: 0;
  margin-top: auto;
}

.heads {
  display: flex;
  float: right;
  margin-left: auto;
  margin-top: auto;
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-evenly;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin: auto 4px 50px 4px;
  font-size: 2.0rem;
  font-family: 'Merriweather', serif;
  color:  var(--maize-crayola);
  background-color: var(--eerie-black);
  padding: 3px 20px;
  border: 2.0px solid var(--jet);
  border-radius: 12px;
}

#appmain {
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 105;
}


.mx-2 {
  margin: auto 4px 50px 4px;
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  color: var(--maize-crayola);
  background-color:var(--eerie-black);
  padding: 3px 20px;
  border: 2.0px solid var(--jet);
  border-radius: 12px;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  /* background-image: url(../src/assets/images/background01.jpg); */
  background-size: cover;
  background-color: var(--maize-crayola);
  background: linear-gradient(to bottom, var(--maize-crayola), var(--jet));
  height: 295px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  position: sticky;
  top: 0;
}

#mainwrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Vollkorn', serif;
  margin: 0;
  padding: 0%;
  /* text-align: center; */
  width: 100%;
}

#lineup {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mainwrapper .box {
  position: relative;
  border: 5px solid #fff;
  cursor: pointer;
  padding: 0;
  width: 45%;
  height: auto;
  border: 2px black solid;
  border-radius: 12px;
  margin: 10px;
  overflow: hidden;

  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

#image-3 {
  display: flex;
  width: 60%;
  margin: auto;
}

#image-4 {
  display: flex;
  width: auto;
  margin: auto;
}

#aboutme {
  display: flex;
  /* border: 1px solid pink; */
  padding: 0px 0px;
  margin: -10px -10px 0 -20px;
}

.abouttext {
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  font-size: 18px;
  font-weight: 100;
  color: rgb(121, 185, 222);
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  font-size: 3.0rem;
  color:var(--gainsboro);
  /* border: 2px dashed blue; */
}

/* .red {
  color: rgb(194, 25, 25);
}

.white {
  color: white;
}

.blue {
  color: blue;
} */

#about {
  display: flex;
  /* border: 2px dashed blue; */
  
}

.column h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  font-size: 3.0rem;
  /* border: 2px dashed blue; */
}

.ordered li {
  list-style: disc;
  font-size: 18px;
  /* background-color: rgb(148, 100, 29); */
  
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  /* border: 2px solid white; */
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
  
  
}

.column-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 45px 0px 45px 95px;
  /* border: 2px solid white; */
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
  align-self: flex-start;
  text-align: center;
  /* background-color: #0cbaba; */
  /* background-image: linear-gradient(-45deg, #21d3d3 0%, #5e1316 74%);
  border-radius: 200% 0% 0% 200%; */

}
.row {
  display: flex;
  justify-content: space-evenly;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.user {
  width: 50%;
  height: 50%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  
}


#mainwrapper .box {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#mainwrapper .box .caption {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  bottom: 0;
  border-radius: 12px;
  position: absolute;
}

#mainwrapper .box:hover .fade-caption {
  opacity: 1;
}

#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption {
  position: absolute;
  left: 0;
  opacity: 0;
  width: 340px;
  height: 270px;
  text-align: left;
  padding: 15px;
}

.name {
  color:var(--alabaster);
  font-size: 5.5rem;
  font-family: 'Cardo', serif;
  font-weight: 700;
  margin-left: var(--spacing-five);
  font-variant-caps:small-caps;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.topper {
  display: flex;
  align-self: flex-start;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: -16px;
}

.bottomer {
  display: flex;
  align-self: flex-end;
  margin-left: 39px;
  margin-top: -63px;
  margin-bottom: 0px;
}

/* .photobox {
  display: flex;
  flex-direction: column;
  padding: 12px;
  float: left;
  margin: 0;
}

.subtext {
  /* position: absolute; */
  /* flex: 1 200px; */
  /* margin-top: 19.5%;
  margin-left: 7.5%; */
/* } */ */

#fonts {
  font-family: 'Cardo', serif;
  font-family: 'Gwendolyn', cursive;
  font-family: 'Imperial Script', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'My Soul', cursive;
  font-family: 'Vollkorn', serif;
}

.firstletter {
  /* font-family: 'Cardo', serif; */
  /* font-family: 'Gwendolyn', cursive; */
  /* font-family: 'Imperial Script', cursive; */
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Vollkorn', serif; */
  margin: 0px 0px 2px 30px;
  margin-top: 0px;
  font-size: 6.5rem;
  /* font-family: 'My Soul', cursive; */
}

.px-1 {
  /* padding-right: var(--spacing-one);
  padding-left: var(--spacing-one); */
  /* text-align: center; */
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {

  margin-bottom: 50px;
  cursor: pointer;
  padding: 0;
  width: 480px;
  height: 240px;
  border: 2px black solid;
  border-radius: 12px;
}

.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--gainsboro);
  font-family: 'Merriweather', serif;


	
}

.navActive {
  color: var(--maize-crayola);
}